---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 120

# Отступ для функций и кода внутри namespace
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
